.article {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0px 4px 12px 0px #00000026;
  background-color: white;
  padding: 15px;
  width: 70%;
  min-width: 320px;
  .article__main {
    width: 70%;
    .main__info {
      overflow-wrap: anywhere;
      padding-top: 10px;
    }
    .main__title {
      display: flex;
      align-items: center;
      padding: 0;
      flex-wrap: wrap;
      gap: 5px;
      .title__likes {
        display: flex;
        button {
          background-color: white;
          border: none;
          cursor: pointer;
        }
        .likes__like {
          color: tomato;
        }
      }
      .title__link {
        font-size: 20px;
        text-decoration: none;
        color: #1890ff;
      }
    }
  }
  .wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-width: 165px;
    .article__author {
      display: flex;
      align-items: flex-start;
      .author__info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        row-gap: 5px;
        padding-right: 10px;
      }

      .autor__img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
      }
    }
    .buttons {
      padding-top: 5px;
      padding-bottom: 5px;
      display: flex;
      column-gap: 5px;

      .button {
        background-color: white;
        padding: 5px;
        font-size: 14px;
        font-weight: 600;
        text-decoration: none;
        border-radius: 4px;
      }
      .deleteButton {
        border: 1px solid tomato;
        color: tomato;
      }
    }
  }
  .editButton {
    border: 1px solid #52c41a;
    color: #52c41a;
  }
}
