.form {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 35px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 600;
  background-color: white;
  row-gap: 20px;
  box-shadow: 0px 4px 12px 0px #00000026;
  .form__title {
    margin: 0;
  }
  .form__userdata {
    display: flex;
    flex-direction: column;
    row-gap: 5px;

    .userdata__input {
      box-sizing: border-box;
      border: 1px solid #8c8c8c;
      width: 320px;
      height: 40px;
      border-radius: 4px;
      padding-left: 10px;
    }
    .userdata__input__invalid {
      border: 1px solid red;
    }
  }
  .userdata__error {
    color: red;
  }
  .form__agreement {
    border-top: 1px solid #8c8c8c;
    padding-top: 10px;
    width: 320px;
    display: flex;
    column-gap: 5px;
    align-items: flex-start;
    .agreement__checkbox {
      width: 16px;
      height: 22px;
      margin: 0;
    }
  }

  .form__submit {
    border: none;
    color: white;
    font-size: 16px;
    background-color: #1890ff;
    width: 320px;
    height: 40px;
    cursor: pointer;
  }
  .form__question {
    font-weight: 400;
    color: #8c8c8c;
    .question__link {
      text-decoration: none;
      color: #1890ff;
    }
  }
}
